<link rel="stylesheet" href="/login.css">

<body>

<!--<table>-->
    <!--<tr>-->
        <!--<td>Username:</td>-->
        <!--<td>-->
            <!--<input type="text" size="30" ng-model="loginCtrl.username">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Password:</td>-->
        <!--<td>-->
            <!--<input type="password" size="30" ng-model="loginCtrl.password">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td>-->
            <!--<button ng-click="loginCtrl.login()">Login</button>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->

<div class="loginpage">

        <form>

            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                            <h2>Login into your Account</h2><hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="email_forlogin" id="email_forlogin" class="form-control input-lg" placeholder="Please enter email" tabindex="1">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="password_forlogin" id="password_forlogin" class="form-control input-lg" placeholder="Please enter password" tabindex="2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                            <hr class="colorgraph">
                        </form>
                       <hr class="colorgraph">

                        <form role="form" method="post" action="/signup">
                            <h2>Sign Up <small> and start to host or join games now! </small></h2>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="3" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="4" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="5" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="6" required>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="7" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="8" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="phone" id="phone" class="form-control input-lg" placeholder="Phone Number" tabindex="9" >
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="favorite_football_team" id="favorite_football_team" class="form-control input-lg" placeholder="Favorite Football Team" tabindex="10" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--<div class="col-xs-3 col-sm-3 col-md-3">-->
					<!--<span class="button-checkbox">-->
						<!--<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>-->
                        <!--<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">-->
					<!--</span>-->
                                <!--</div>-->
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                                </div>
                            </div>

                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-md-12"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="11"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>
<!-- Modal -->
<!--<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
<!--<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>-->
<!--</div>-->
<!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->


