
.social {
    position: relative;
    height: 2.5em;
    width: 13.5em;
    margin: 50px 450px;
}

.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

* {
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

.organise {
    background-color: #797979;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 15px;
    max-width: 600px;
    width: 100%;
}

.wrap form {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.form-header {
    background-color: lightgreen;
    border-radius: 4px 4px 0 0;
    padding: 1em;
}

.form-header h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    margin: 0;
}

.form-body {
    background-color: #fff;
    padding: 1em;
}

.form-body label,
.form-body input,
.form-body select,
.form-body textarea {
    display: block;
    width: 100%;
}

.form-body label {
    font-size: .8em;
    font-weight: 700;
    line-height: 1;
    margin: .75em 0 .25em;
}

.form-body input [type="submit"],
.form-body select,
.form-body textarea {

    border:  medium;
    border-color: white;
    border-radius: 4px;
    padding: .25em;
}

.form-body fieldset {
    border: none;
    margin: 0 0 1em;
    padding: 0;
}

.form-body fieldset:last-of-type {
    margin-bottom: 0;
}

.form-body fieldset legend {
    font-size: 1.25em;
    font-weight: 700;
}

.form-footer {
    background-color: #e2e2e2;
    border-radius: 0 0 4px 4px;
    padding: 1em;
}

.form-footer input[type="submit"] {
    background-color: lawngreen;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 1em 1.5em;
}

/******** Subscription option actions ********/

.sub-opts input[name="subscription"] {
    display: none;
}

.sub-opts input[name="subscription"] + .sub-opt {
    background-color: #f4f4f4;
    border-radius: 4px;
    font-weight: 700;
}

.sub-opts input[name="subscription"]:checked + .sub-opt {
    background-color: #09C775;
    color: #fff;
}

.sub-opts input[name="subscription"] + .sub-opt .sub-label .fa {
    display: none;
}

.sub-opts input[name="subscription"]:checked + .sub-opt .sub-label .fa {
    display: inline-block;
}

.sub-opts .sub-opt .sub-label {
    display: block;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
}

.sub-opts .sub-opt .sub-label span.price {
    display: inline-block;
    float: right;
}
#preview {
    background-color: limegreen;
}


label.btn {
    max-width: 140px;
}

label.btn span {
    font-size: 1.5em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}


div[data-toggle="buttons"] label.active {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label:active,
div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

p {
    font-weight: bold;
    color: black;
    align-items: center ;
     text-align: center;
    text-decoration: underline;
}
.gameimage {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}

#joingame {
    background-color: lightcyan;
}

select {
    font-weight: bold;
font-size: 200px;
    background-color: white;
}