@import url(https://fonts.googleapis.com/css?family=Lora:400,700italic);

header {
    text-align: center;
}
#navbar-primary .navbar-nav {
    text-align: center;
    width: 100%;
}
#navbar-primary .navbar-nav li {
    display: inline-block;
    float: none;
    width: 150px;
    font-size: 15px;
}
.logo {
    width: 270px !important;
}
